@charset "UTF-8";

@font-face {
	font-family: notation;
	src: url('fonts/Musisync-KVLZ.ttf');
}

#circle {
	height: 150px;
	width: 150px;
	background-color: #FF5733;
}

.notation {
	font-family: notation;
}

.compositionTableRow {
	font-family: notation;
	height: 10rem;
}

.compositionTable {
	table-layout: fixed;
}

.noSelect {
	user-select: none;
}

.checked {
  color: orange;
}

.rating_star {
   cursor: pointer;
}

.rating_star:hover {
   filter: drop-shadow(1px 1px 4px gold);
}

.form-check-input {
	min-width: .5em;
}