<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


<title>Get Rhythm - About</title>

</head>
<body>
	<div th:replace="layoutElements :: authenticatedNavbar"
		sec:authorize="isAuthenticated()"></div>
	<div th:replace="layoutElements :: unauthenticatedNavbar"
		sec:authorize="isAnonymous()"></div>

	<div th:replace="layoutElements :: greeting" sec:authorize="isAuthenticated()"></div>

	<h6 th:text="${progress}"/>

	<h1 class="display-4 text-center">About</h1>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Morbi volutpat libero neque, eu congue ligula tempus sit amet.
					Nulla auctor massa at libero consequat posuere. Nunc hendrerit, sem
					nec tincidunt pretium, arcu erat semper quam, laoreet blandit massa
					orci quis dolor. Proin pulvinar dui augue, vitae porta magna
					dapibus eget. Integer nec dui tempor, vestibulum lacus et, placerat
					nibh. Pellentesque eu magna lorem. Nam egestas, risus feugiat
					sagittis luctus, tortor lorem ultrices odio, a viverra lorem lectus
					a dolor. Mauris sagittis non ipsum nec malesuada. Suspendisse at
					libero turpis. Nullam rutrum, ex convallis tristique aliquam,
					libero elit tincidunt odio, iaculis posuere metus ex quis turpis.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
					tempus purus vitae pharetra semper. Etiam facilisis mollis
					tincidunt. Aenean velit odio, placerat scelerisque consectetur vel,
					luctus eget est. Duis dui libero, mattis fermentum ornare at,
					rutrum sit amet nisi. Integer ultricies purus neque, ut volutpat
					lacus consectetur tincidunt. Phasellus dapibus erat in sapien
					malesuada, sit amet sodales turpis facilisis. Quisque a nisl
					accumsan dui ultrices convallis. Praesent auctor, nisl ac aliquam
					egestas, risus ante tincidunt lacus, at imperdiet lectus turpis nec
					lectus. Proin accumsan imperdiet vulputate. Suspendisse porta, sem
					sed cursus condimentum, metus sem cursus massa, vel dictum augue
					justo sed nisl. Nam ornare a felis a auctor. Aliquam lobortis
					turpis rutrum sodales rutrum. Mauris elit justo, egestas posuere
					mauris id, bibendum viverra metus. Nullam et dolor eu nulla
					lobortis congue at id sapien. Fusce eleifend elementum diam,
					tristique sagittis risus ornare at. Phasellus egestas nisi a mattis
					volutpat. Phasellus imperdiet nisi elit, aliquet luctus nisi
					faucibus consequat. Fusce ex mauris, ultricies mattis interdum ut,
					vestibulum eget est. Morbi pharetra tristique convallis.
					Pellentesque non lorem nec ipsum facilisis fermentum. In hac
					habitasse platea dictumst. Praesent imperdiet tempus ex at semper.
					Praesent rhoncus quam ut tortor aliquam sodales sit amet ac ex.
					Integer condimentum aliquam lorem ac vulputate. Cras sem augue,
					pharetra at sollicitudin id, lacinia eget lectus. In hac habitasse
					platea dictumst. Etiam massa nibh, pharetra ut rhoncus non,
					consequat ac nunc. Mauris nec viverra tellus, sit amet hendrerit
					enim. Curabitur bibendum, odio at facilisis ultricies, felis orci
					molestie est, eu dapibus turpis justo ac nibh. In at neque sed
					magna volutpat scelerisque et ac diam. Fusce aliquam est sit amet
					faucibus sollicitudin.</p>
			</div>
		</div>

	</div>
	
	<div th:replace="layoutElements :: signoutButton" sec:authorize="isAuthenticated()"></div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>