<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<!-- Tone.js CDN -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.js"
	integrity="sha512-+esjJ8NSEfoB5Sr8R7jTcYxCR1Bd6q9C+WQC0JA2UXVPT8Mlo/TJqqyp0qeeoxFzkAaa8t6tZCHLGmw3oNI2Qg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- VexFlow CDN -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/3.0.9/vexflow-min.js"
	integrity="sha512-le/+X9Wjo8roJpCBunTPOGzGGhCqyXsbxgoEwngieMRVDieKxfHusDD6iFJqw8RUGkfj7se7Nc6cf4NbLUPDzA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<title>Get Rhythm - Account Created</title>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Get Rhythm!</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a th:href="@{/home}" class="nav-link">Home</a></li>
					<li class="nav-item"><a th:href="@{/login}" class="nav-link">Log-in</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Create Account</a></li>
					<li class="nav-item"><a th:href="@{/aboutLoggedOut}"
						class="nav-link">About</a></li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="container text-center">
		<h3>You have signed up successfully!</h3>
		<h4>
			<a th:href="@{/login}">Click here to Login</a>
		</h4>
	</div>

</body>
</html>