<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


<title>Get Rhythm - Exercises</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" media="all"
	href="/getRhythmStyles.css" />

</head>
<body>
	<div th:replace="layoutElements :: authenticatedNavbar"></div>
	<div class="container">
		<!-- Row1 -->
		<div class="row">
			<div class="col-3">
				<div th:replace="layoutElements :: greeting"></div>
			</div>

			<!-- Heading and instructions -->
			<div class="col-6">
				<h1 class="display-4 text-center text-success">Exercises</h1>
			</div>

		</div>


		<!-- Row2 -->

		<div class="row">

			<div class="col-4"></div>

			<div class="col-4">
				<form th:action="@{/setupExercise}"
					th:object="${exerciseActivityDetails}" method="post">
					<div class="mb-3">
						<label for="exerciseType" class="col-form-label fs-4">Exercise
							Type:</label> <select class="form-select" id="exerciseType"
							th:field="*{activityName}">
							<option th:value="Performance" th:text="Performance"></option>
							<option th:value="Improvisation" th:text="Improvisation"></option>
							<option th:value="Composition" th:text="Composition"></option>
							<option th:value="Dictation" th:text="Dictation"></option>
						</select>
					</div>

					<div class="mb-3">
						<label class="col-form-label fs-4">Rhythms:</label>
						<div class="container">
							<div class="row row-cols-md-auto">
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm1" th:field="*{rhythmsIncluded[0]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm1">q q</label>
								</div>
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm2" th:field="*{rhythmsIncluded[1]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm2">q n</label>
								</div>
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm3" th:field="*{rhythmsIncluded[2]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm3">n q</label>
								</div>
							</div>
							<div class="row row-cols-md-auto">
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm4" th:field="*{rhythmsIncluded[3]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm4">n n</label>
								</div>
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm5" th:field="*{rhythmsIncluded[4]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm5">h</label>
								</div>
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm6" th:field="*{rhythmsIncluded[5]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm6">j e</label>
								</div>
							</div>

							<div class="row row-cols-md-auto">
								<div class="col-4 form-check d-flex align-items-center">
									<input class="form-check-input" type="checkbox" value=""
										id="rhythm7" th:field="*{rhythmsIncluded[6]}"> <label
										class="form-check-label notation display-5 mx-auto text-nowrap"
										for="rhythm7">e q e</label>
								</div>
							</div>


						</div>
					</div>

					<div th:replace="layoutElements :: tempoSlider"></div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>

			<div class="col-4"></div>
		</div>

		<!-- Row3 -->


		<div class="row">

			<div class="col-3"></div>

			<div class="col-6"></div>

			<div class="col-3"></div>
		</div>

		<!-- Row4 -->

		<div class="row">

			<div class="col-3"></div>

			<div class="col-6"></div>

			<div class="col-3"></div>
		</div>
	</div>












	<div th:replace="layoutElements :: signoutButton"></div>

	<script>
		var slider = document.getElementById("tempoSlider");
		var output = document.getElementById("tempoValue");
		output.innerHTML = slider.value; // Display the default slider value

		// Update the current slider value (each time you drag the slider handle)
		slider.oninput = function() {
			output.innerHTML = this.value;
		}
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>