<!DOCTYPE html>
<!-- html tag with attributes for thymeleaf -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<!-- Tone.js CDN -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.js"
	integrity="sha512-+esjJ8NSEfoB5Sr8R7jTcYxCR1Bd6q9C+WQC0JA2UXVPT8Mlo/TJqqyp0qeeoxFzkAaa8t6tZCHLGmw3oNI2Qg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<title>Lessons</title>

<!-- CSS -->
<style>
@charset "UTF-8";

@font-face {
	font-family: notation;
	src: url('fonts/Musisync-KVLZ.ttf');
}

#circle {
	height: 150px;
	width: 150px;
	background-color: #FF5733;
}

.notation {
	font-family: notation;
	font-size: 80px;
}
</style>

</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Get Rhythm!</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Lessons</a></li>
					<li class="nav-item"><a th:href="@{/exercises}"
						class="nav-link">Exercises</a></li>
					<li class="nav-item"><a th:href="@{/resources}"
						class="nav-link">Resources</a></li>
					<li class="nav-item"><a th:href="@{/about}" class="nav-link">About</a></li>
					<li class="nav-item"><a th:href="@{/account}" class="nav-link">My
							Account</a></li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="container">

		<!-- Row1 -->
		<div class="row">

			<!-- Greeting logged in user -->
			<div class="col-3 lead" th:inline="text">
				Logged in as: <span sec:authentication="principal.name">Name</span>
			</div>

			<!-- Heading and instructions -->
			<div class="col-6">
				<h1 class="display-4 text-center">Performance Activity</h1>
				<h1 class="display-6 text-center">Clap what you hear!</h1>
			</div>

		</div>


		<!-- Row2 -->
		<div class="row p-3  d-flex align-items-center ">

			<!-- Rhythm Symbols heading -->
			<div class="d-grid col-4 mx-auto ">
				<p class="display-6 text-center ">Symbols:</p>
			</div>

			<!-- Start/Stop Button -->
			<div class="d-grid col-3 mx-auto ">
				<button id="startStop" role="switch" aria-checked="false"
					type="button" class="btn btn-primary text-center ">
					<span>Start!</span>
				</button>
			</div>

			<!-- Rhythm Syllables Heading -->
			<div class="d-grid col-4 mx-auto ">
				<p class="display-6 text-center ">Say this:</p>
			</div>
		</div>

		<!-- Row3 -->
		<div class="row p-5 d-flex align-items-center ">

			<!-- Notation Display -->
			<div class="col-4 mx-auto ">
				<p id="symbols" class="display-5 text-center"><span id='symbol1' class='invisible notation hideAll'></span> <span id='symbol2' class='invisible notation hideAll'></span><span id='symbol3' class='invisible notation hideAll'></span></p>
			</div>

			<!-- Animation Display -->
			<div class="d-grid gap-2 col-4 ">
				<div id="circle" class="mx-auto rounded-circle invisible"></div>
			</div>

			<!-- Rhythm Syllable Display -->
			<div class="col-4 mx-auto invisible">
				<p id="syllables" class="display-5 text-center "><span id='syllable1' class='invisible hideAll'></span> <span id='syllable2' class='invisible hideAll'></span> <span id='syllable3' class='invisible hideAll'></span></p>
			</div>

		</div>

		<!-- Row4 -->
		<div class="row">

			<!-- Signout Button -->
			<div class="col-3 lead" th:inline="text">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" />
				</form>
			</div>

		</div>

	</div>

	<h1>
		Debugging: <span id="debug"></span>
	</h1>
	<!-- Javascript -->
	<script>
	
		/* variables */
		var tempo = 80; // default tempo
		var playing = false; // boolean to track whether transport playing or not. 
		var noteCounter = 1; // count the notes
 		var loopCounter = 1; // count the loops
 		var rhythmTracker = 1; // keep track of which rhythm is being played currently
 		var changeRhythmAfter = 2; // a variable to set how often the rhythm changes

		/* Listener for start stop button */
		var startStopButton = document.querySelector("#startStop");
		
		startStopButton.addEventListener("click", function() {
			startTransport(); // Start the transport control
		})

		// Create synth to play sound
		const synth = new Tone.MembraneSynth().toDestination(); //Membrane drum synthesizer
		
		// Function to set up rhythm pattern 1
		function rhythm1setup(){
			document.querySelector("#symbol1").innerHTML = "q";
			document.querySelector("#symbol2").innerHTML = "q";
		  	document.querySelector("#syllable1").innerHTML = "ta"; 	
		  	document.querySelector("#syllable2").innerHTML = "ta"; 	
		  	document.querySelector("#symbol3").innerHTML = "";
			document.querySelector("#symbol3").innerHTML = "";
		  	part.clear();
	  		part.add("0", "C2");
  			part.add("4n", "C2");
			rhythmTracker = 1;

		}
		
		function rhythm2setup(){
			document.querySelector("#symbol1").innerHTML = "q";
			document.querySelector("#symbol2").innerHTML = "n";
		  	document.querySelector("#syllable1").innerHTML = "ta"; 	
		  	document.querySelector("#syllable2").innerHTML = "ti-ti"; 	
		  	document.querySelector("#symbol3").innerHTML = "";
			document.querySelector("#symbol3").innerHTML = "";
		  	part.clear();
	  		part.add("0", "C2");
  			part.add("4n", "C2");
  			part.add("4n.", "C2");
			rhythmTracker = 2;

		}
		
		
		function hideAll(){
			var hideElement = document.getElementsByClassName("hideAll"); // select all elements that need to be reset
			for(var i = 0; i < hideElement.length; i++)
			{
				hideElement[i].classList.add("invisible");
			}
		}
		
		
		function circleFlash(pitch){
			if (pitch=="C2"){
				// Circle Animation
				circle.classList.add("visible");
				circle.classList.remove("invisible");
				
				setTimeout(() => {
					circle.classList.add("invisible");
					circle.classList.remove("visible");
				}, 50);
			}
		}
		
		function updatePart(time){
				if (rhythmTracker == 1){
					rhythm2setup();
				} else if (rhythmTracker == 2){
					rhythm1setup();
				}
		}

	 	// Part sets up sound pattern to be played and includes visual sync
		const part = new Tone.Part(function(time, pitch){	
			// update debugging output
			document.getElementById("debug").innerHTML = noteCounter;	


			// if we're on the first loop and the first note, schedule a rhythm update in 4 bars
			var rhythmUpdateTime = ("+"+changeRhythmAfter+"m");
			if (loopCounter == 1 && noteCounter == 1){
				Tone.Transport.schedule(updatePart, rhythmUpdateTime);	
			}
			// variable that calculates when to remove symbols based on tempo
			const loopTime = (Tone.Time(part.loopEnd).toMilliseconds())-(600000/(tempo*6.5));
			
			
			
			// play the note
			synth.triggerAttackRelease(pitch, "8n", time); // play an 8th note at the pitch and time passed in
			
			var syllable = document.getElementById("syllable"+noteCounter);
			var symbol = document.getElementById("symbol"+noteCounter); 
			var circle = document.getElementById("circle"); 
			
			// Callback to create animation in time with sound
			Tone.Draw.schedule(() => {		
				// Rhythm Syllable Animation
				// Select all elements related to the current note	
				syllable.classList.remove("invisible");
				syllable.classList.add("visible");
			}, "+8m");
			
			Tone.Draw.schedule(() => {					
				// Rhythm Symbol Animation
				// Select all elements related to the current note
				symbol.classList.remove("invisible");
				symbol.classList.add("visible");
			}, "+16m");
		
			Tone.Draw.schedule(() => {	
			
				// select the circle
				
				// flash the circle if the note is not 'null'
				circleFlash(pitch);
				
				// if we are not on the last note increment the note counter
				if (noteCounter >= part.length){
					// reset the note counter
					noteCounter = 1; 
					
					// Time out the symbols and syllabes
				 	setTimeout(() => {
						hideAll();
					}, 200); 
				 	
				// check increment or reset the loopCounter
					if (loopCounter >= changeRhythmAfter){
						loopCounter = 1;
					

						
					} else {
						loopCounter += 1;
					} 
				
					
					
				} else if (noteCounter < part.length){
					noteCounter += 1;
				} 
						
			}, time);
			
			// if its the first note update the part to the correct rhythm pattern
			
		
		}, [ ["0", "C2"], ["4n", "C2"] ]); // Pass in default note values
			

		
		// Set the time signature
		Tone.Transport.set({
			"timeSignature" : "2", 
		});
		
		//set the part to loop every 2 beats
 		part.set({
			"loop" : true,
			"loopEnd" : "1m"			
		}); 
			
		// start the part
		part.start();		

 		/* Start Transport Function */
		function startTransport() {
			
			/* If transport is not playing, start it, otherwise stop it */
			if (!playing) {
				hideAll(); // hide all symbols
				noteCounter = 1; // reset the note counter
				loopCounter = 1; // reset the loop counter
				rhythm1setup();
	 			Tone.start(); // Start Tone.js - required by browser before allowing audio to play
				playing = true; // Set playing boolean to true
				Tone.Transport.bpm.value = tempo; // Set the bpm to the current tempo
				Tone.Transport.start("+.3"); // Start the transport 300ms in the future to help with audio latency
				
			} else {
				Tone.Transport.stop(); // Stop the transport
				Tone.Draw.cancel();
				Tone.Transport.cancel();
				playing = false; // Set playing boolean to false
				hideAll(); // hide all symbols
				noteCounter = 1; // reset the note counter
				loopCounter = 1; // reset the loop counter
				rhythmTracker = 1;// reset rhythm Tracker
				
			}
			
		}

		// function to play a note
	/* 	function playNote(time, pitch) {
			synth.triggerAttackRelease(pitch, "8n", time); // play an 8th note at the pitch and time passed in
		}	 */
		
		// Function to clear part and add new rhythms
/* 		function rhythm1(){
			part.clear();
			part.add("0", "C2");
  			part.add("4n", "C2");
  			part.add("4n.", null);
		}
		
		function rhythm2(){
			part.clear();
  			part.add("0", "C2");
  			part.add("4n", "C2");
  			part.add("4n.", "C2");
		} */
		
		// Create a part that plays a note in specific pattern, loop every 2 beats.
	/* 	const part = new Tone.Part(playNote, [ [ "0", "C2" ], [ "4n", "C2" ] ])
		.set({
			"loop" : true,
			"loopEnd" : "2n"
		})
		.start(); // pitch and time of rhythm pattern notes */


		
		
 
		
		/* function rhythmCheck(){
			syllableAnimation1();


			if (rhythmNo == 1){
				rhythmNo = 2;
				rhythm2();

			} else {
				rhythmNo = 1;
				rhythm1();


			}
			document.getElementById("debug").innerHTML = rhythmNo;

				
		} */
		
/* 		Tone.Transport.scheduleRepeat(rhythmCheck, "1m", "16n");
 */		
		/* function syllableAnimation1(time){
			document.querySelector("#symbols").innerHTML = "<span id='symbol1' class='invisible notation'>q</span> <span id='symbol2' class='invisible notation'>q</span>";
		  	document.querySelector("#syllables").innerHTML = "<span id='syllable1' class='invisible'>ta</span> <span id='syllable2' class='invisible'>ta</span>"; 	
			var symbol1 = document.getElementById("symbol1");
			var symbol2 = document.getElementById("symbol2");
			var syllable1 = document.getElementById("syllable1");
			var syllable2 = document.getElementById("syllable2");

			Tone.Transport.scheduleOnce((time)=>{
				Tone.Draw.schedule(()=>
					
					{
						symbol1.classList.remove("invisible");
						symbol1.classList.add("visible");
					}
				), time;
			}, time);
					
			Tone.Transport.schedule((time)=>{
				Tone.Draw.schedule(()=>	
					{
						symbol2.classList.remove("invisible");
						symbol2.classList.add("visible");				
					}
				), time;
			}, "+4n"); */
			
			
 			
		
		
		
	</script>

	<!-- Bootstrap JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>



</body>
</html>