<!DOCTYPE html>
<!-- html tag with attributes for thymeleaf -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<!-- Icon Library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<title>Lessons - Composition</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" media="all"
	href="/getRhythmStyles.css" />



</head>

<body>

	<div th:replace="layoutElements :: authenticatedNavbar"></div>

	<div class="container">

		<!-- Row1 -->
		<div class="row">
<!-- Row1 -->

			<div class="col-3">
				<div th:replace="layoutElements :: greeting"></div>
			</div>



			<!-- Heading and instructions -->
			<div class="col-6">
				<h1 class="display-4 text-center text-success">Self-Assessment</h1>
			</div>

		</div>

		<!-- Row2 -->

		<div class="row">

			<div class="d-grid col-3 mx-auto "></div>

			<!-- Instructions -->
			<div class="col-6 text-center">
				<h1 class="fs-2 text-center">How did you find that activity?</h1>
			</div>
			<!-- Rhythms Heading -->
			<div class="col-3"></div>
		</div>

		<!-- Row3 -->


		<div class="row">

			<div class="col-3"></div>

			<div class="col-6 container">
			<!-- Form creates assessment object to be passed to controller and persisted in database -->
				<form
					th:action="@{/record_assessment?next={record_assessment}(record_assessment = ${activityDetails.nextActivity})}"
					th:object="${selfAssessment}" method="post">
					<!-- Hidden inputs used as inputs are not typed directly but given via star system -->
					<div class="row">
						<div class="d-grid col-4 rating display-3 text-center">
							<span id="ratingSpan"></span> <input id="ratingField"
								type="hidden" th:field="*{rating}" />

						</div>

						<div class="col-8 display-3 text-center">
							<i class="rating_star fa fa-star" th:hidden="${message}"></i> <i
								class="rating_star fa fa-star" th:hidden="${message}"></i> <i
								class="rating_star fa fa-star" th:hidden="${message}"></i> <i
								class="rating_star fa fa-star" th:hidden="${message}"></i> <i
								class="rating_star fa fa-star" th:hidden="${message}"></i>
						</div>
					</div>

					<div class="row">
						<div class="col-12 text-center">
							<label for="comment" class="form-label">Comment: </label> <input
								th:field="*{comment}" th:disabled="${message}" type="text"
								class="form-control" id="comment"
								aria-describedby="assessmentHelp">
							<div id="assessmentHelp" class="form-text">How did you find
								that activity?</div>
						</div>
					</div>

					<div class="row">
						<div class="col text-center fs-3">
							<label for=activityType class="form-label">Activity Type:
							</label> <span th:text="${activityDetails.activityName}"></span> <input
								type="hidden" th:name="assessmentType"
								th:value="${activityDetails.activityName}"
								th:disabled="${message}" />
						</div>
						<div class="col text-center fs-3" th:if="${activityDetails.score>0}">
							<label for=activityType class="form-label">Score:
							</label> <span th:text="${activityDetails.score}"></span> 
							<input
								type="hidden" th:name="score"
								th:value="${activityDetails.score}"
								th:disabled="${message}" />
						</div>
					</div>

					<div class="row">
						<div class="col-12 text-center">
							<button id="submit" type="submit" class="btn btn-primary"
								value="close" th:disabled="${message}">Submit</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-3"></div>
		</div>

		<!-- Row4 -->
		<div class="row">
			<div class="col-3">
				<div th:replace="layoutElements :: signoutButton"></div>
			</div>

			<div class="d-grid col-6 text-center display-4" th:text="${message}"></div>

			<div class="d-grid col-3 mx-auto">
				<!-- Dynamic URL to link to next relevant activity -->
				<a id="continue"
					th:href="@{/{next}(next = ${activityDetails.nextActivity})}"
					role="button" aria-checked="false"
					class="btn btn-primary text-center col-4"> <span>Continue</span>
				</a>
			</div>
		</div>
	</div>

	<p>
		Debugging: <span id="debug"></span>
	</p>

	<!-- Javascript -->
	<script th:inline="javascript">
	
	   const ratingStars = [...document.getElementsByClassName("rating_star")]; // create an array of all rating star items
	   const ratingResult = document.getElementById("ratingSpan"); // select the hidden input field to submit the rating via thymeleaf
	   const ratingInput = document.getElementById("ratingField"); // select the span where the numerical rating will be dispalyed

	   printRatingResult(ratingResult, ratingInput); // print the current ratint (0 by default)
	   
	   // function to update rating on mouse click - takes array of stars and current numerical rating
	   function executeRating(stars, result, inputField) {
		   const starsLength = stars.length; // find length of array of stars
		   var i; // declare counter variable
		  
		   // map function used to call function on each element of array
		   stars.map((star) => {
			  // function to be performed when a star element is clicked
		      star.onclick = () => {
		    	  
		         i = stars.indexOf(star); // set counter to index of current star
		         
				// if current star is not checked, check all stars up to its index and update numerical rating. If star already checked, remove check.
		         if (!star.classList.contains("checked")) {
		            printRatingResult(result, inputField, i + 1);
		            for (i; i >= 0; --i) stars[i].classList.add("checked");
		         } else {
		            printRatingResult(result, inputField, i);
		            for (i; i < starsLength; ++i) stars[i].classList.remove("checked");
		         }
		      };
		   });
		}
	   
		// Function to print numerical result of star ratings to element
		function printRatingResult(result, inputField, num = 0) {
		   result.textContent = `${num}/5`;
		   inputField.value = `${num}`;
		}
		
		// call the function to execute the star rating rating
		executeRating(ratingStars, ratingResult, ratingInput);
		
	</script>
	<!-- Bootstrap JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>